body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 1500px;
  font-family: sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0366d6;
}

#topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 62px;
  background-color: #24292e;
}

#topLeft {
  display: flex;
  flex-direction: row;
}
#topLeft #logo {
  display: flex;
  background-image: url(../img/logo.png);
  background-size: cover;
  align-self: center;
  margin-left: 16px;
  width: 32px;
  height: 32px;
}
#topLeft #logo:hover {
  cursor: pointer;
}
#topLeft #topContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#topLeft #topContent h2 {
  color: white;
  margin-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}
#topLeft #topContent h2:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}
#topLeft #topContent #searchBar {
  display: flex;
  align-self: center;
  margin-left: 10px;
  width: 300px;
}
#topLeft #topContent #searchBar input {
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 7px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.125);
}

#topRight {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 16px;
}
#topRight p {
  margin-right: 20px;
}
#topRight p:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

#main {
  display: flex;
  flex-direction: row;
}
#main #sideBar {
  height: 100vh;
  width: 33vw;
  max-width: 350px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#main #recent {
  background-color: #f6f8fa;
  width: 34vw;
  min-width: calc(100vw - 700px);
  height: 1400px;
}
#main #discover {
  background-color: #f6f8fa;
  width: 33vw;
  height: 1400px;
  max-width: 350px;
}
#main #discover #welcome {
  margin: 30px;
  border: 1px solid blue;
  border-radius: 3px;
  margin-top: 40px;
  padding: 0 10px 0 10px;
}
#main #discover #welcome p {
  font-size: 12px;
}

.repoInfo {
  display: flex;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: blue;
}

.star {
  width: 12px;
  height: 12px;
  background-image: url(../img/star.png);
  background-size: cover;
}

#hello-world-guide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  margin: 2.5%;
  height: 350px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-image: linear-gradient(rgba(0, 90, 150, 0.3), rgba(255, 255, 255, 0));
}

.summary {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profPic {
  background-image: url(../img/avi.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.updateContent {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 90%;
  background-color: white;
}

.exit {
  display: flex;
  justify-content: flex-end;
  margin: -40px 30px;
}
.exit:hover {
  cursor: pointer;
}

#guideText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#guideText .buttons {
  margin: 20px;
}

.repoSearch {
  width: 100%;
}
.repoSearch input {
  width: 95%;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 10px;
}
.repoSearch input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

#sideBarInline {
  display: none !important;
  display: flex;
  height: 300px;
  width: 95%;
  margin: 2.5%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: white !important;
}
#sideBarInline .repositories {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#sideBarInline .repositories .repoList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.repo {
  display: flex;
  flex-direction: row;
}

.repoTeaser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.repoTeaser .repoName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.repoTeaser .repoInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.repositories {
  margin: 20px;
}

#moreBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  #discover, #topContent, #sideBar, #addBtn, #profileBtn {
    display: none !important;
  }

  #recent {
    width: 100vw !important;
  }

  #moreBtn {
    display: flex;
  }

  #sideBarInline {
    display: flex !important;
  }
}
@media screen and (max-width: 1011px) and (min-width: 768px) {
  #discover {
    display: none;
  }

  #recent {
    width: 66.66667vw !important;
  }

  #sideBar, #discover {
    width: 349px;
  }
}
@media screen and (min-width: 1012px) {
  #recent {
    width: 50%;
  }
}

/*# sourceMappingURL=output.css.map */
